global
        daemon
	log /dev/log    local0
        log /dev/log    local1 notice
        maxconn 256
 
defaults
        mode http
	log     global
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms
	errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http
 
frontend rotatingproxies
        bind *:3128
        default_backend tors
        option http_proxy
 
backend tors
        option http_proxy
	balance roundrobin
        server tor1 127.0.0.1:8118
        server tor2 127.0.0.1:8119
        server tor3 127.0.0.1:8120
        server tor4 127.0.0.1:8121
        server tor5 127.0.0.1:8122
        server tor6 127.0.0.1:8123
        server tor7 127.0.0.1:8124
        server tor8 127.0.0.1:8125
        server tor9 127.0.0.1:8126
        server tor0 127.0.0.1:8127
#        balance roundrobin
